* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    outline: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap
}

.box {
    outline: 1px solid black;
}

.board {
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;
}